<form action="https://formspree.io/f/myyrbalw" method="POST" enctype="multipart/form-data">

    <label>
        Email na který ti bude zaslán CA token:
      <input type="email" name="email">
    </label>

    <label>
        Nickname, pod kterým se hlásíš TS:
        <textarea name="nick"></textarea>
    </label>
  
    <label>
        Název kanálu:
        <textarea name="name"></textarea>
    </label>

    <label>
        Heslo:
        <textarea name="pw"></textarea>
    </label>
    
    <label>
        Ikona (16x16):
        <input type="file" name="upload">
    </label>
  
    <button type="submit">Odeslat</button>
  </form>
</form>